*.ini
*.o
*.bin
*.BIN
*.elf
*.map
gdrom
.vscode
tools/*.exe
tools/*.7z
tools/*.dbg
tools/*.com
tools/*.ini
tools/cosmo
tools/*.DAT
tools/BOX
tools/ICON
tools/datpack
tools/datread
tools/datstrip
tools/menufaker
tools/metapack
tools/renamecsv
tools/tsv2ini
